.controlboard {
  width:100%;
  height: 32px;
  background:white;
}

.controlboard>span {
  padding-right: 30px;
  font-size: 2.5em;
}

.scoreboard {
  width:100%;
  height: 32px;
  background:white;
}

.scoreboard>div {
  float:left;
  padding-right: 30px;
  font-size: 2.5em;
}

.playArea {
  width: 1262px;
  height: 637px;
  margin: 16px 56px 32px 56px;
  padding: 0;
  border: 3px solid black;
}

.killCount {
  color: green;
}

.deathCount {
  color: red;
}

.sprite {
  position: absolute;
  width: 32px;
  height: 32px;
  background: url('/characterSprites.png');
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
}

.invisible {
  visibility: hidden;
}

.robot {  
  background-position: -128px 0;  
}

.robotSouth{
  -webkit-animation: robotNorth .9s steps(2) infinite;
  animation: robotForward .9s steps(2) infinite;
}

@-webkit-keyframes robotNorth {
   0% { background-position: -96px 0; }
   100% { background-position: -224px 0; }
}

@keyframes robotNorth {
   0% { background-position: -96px 0; }
   100% { background-position: -224px 0; }
}

.robotWest{
  -webkit-animation: robotLeft .9s steps(2) infinite;
  animation: robotLeft .9s steps(2) infinite;
}

@-webkit-keyframes robotLeft {
   0% { background-position: -96px -32px; } 
   100% { background-position: -224px -32px; }
}

@keyframes robotLeft {
   0% { background-position: -96px -32px; } 
   100% { background-position: -224px -32px; }
}

.robotEast{
  -webkit-animation: robotRight .9s steps(2) infinite;
  animation: robotRight .9s steps(2) infinite;
}

@-webkit-keyframes robotRight {
   0% { background-position: -96px -64px; } 
   100% { background-position: -224px -64px; }
}

@keyframes robotRight {
   0% { background-position: -96px -64px; } 
   100% { background-position: -224px -64px; }
}

.robotNorth{
  -webkit-animation: robotSouth .9s steps(2) infinite;
  animation: robotSouth .9s steps(2) infinite;
}

@-webkit-keyframes robotSouth {
   0% { background-position: -96px -96px; } 
   100% { background-position: -224px -96px; }
}

@keyframes robotSouth {
   0% { background-position: -96px -96px; } 
   100% { background-position: -224px -96px; }
}

.player {
  background-position: -224px -128px;
}

.playerSouth{
  -webkit-animation: playerSouth .9s steps(2) infinite;
  animation: playerSouth .9s steps(2) infinite;
}

@-webkit-keyframes playerSouth {
   0% { background-position: -192px -128px; }
   100% { background-position: -320px -128px; }
}

@keyframes playerSouth {
   0% { background-position: -192px -128px; }
   100% { background-position: -320px -128px; }
}

.playerWest{
  -webkit-animation: playerWest .9s steps(2) infinite;
  animation: playerWest .9s steps(2) infinite;
}

@-webkit-keyframes playerWest {
   0% { background-position: -192px -160px; }
   100% { background-position: -320px -160px; }
}

@keyframes playerWest {
   0% { background-position: -192px -160px; }
   100% { background-position: -320px -160px; }
}

.playerEast{
  -webkit-animation: playerEast .9s steps(2) infinite;
  animation: playerEast .9s steps(2) infinite;
}

@-webkit-keyframes playerEast {
   0% { background-position: -192px -192px; }
   100% { background-position: -320px -192px; }
}

@keyframes playerEast {
   0% { background-position: -192px -192px; }
   100% { background-position: -320px -192px; }
}

.playerNorth{
  -webkit-animation: playerNorth .9s steps(2) infinite;
  animation: playerNorth .9s steps(2) infinite;
}

@-webkit-keyframes playerNorth {
   0% { background-position: -192px -224px; }
   100% { background-position: -320px -224px; }
}

@keyframes playerNorth {
   0% { background-position: -192px -224px; }
   100% { background-position: -320px -224px; }
}

.attack {
  background-position: -224px 0;
}

.attackSouth{
  -webkit-animation: attackSouth .9s steps(2) infinite;
  animation: attackSouth .9s steps(2) infinite;
}

@-webkit-keyframes attackSouth {
   0% { background-position: -192px 0; }
   100% { background-position: -320px 0; }
}

@keyframes attackSouth {
   0% { background-position: -192px 0; }
   100% { background-position: -320px 0; }
}

.attackWest{
  -webkit-animation: attackWest .9s steps(2) infinite;
  animation: attackWest .9s steps(2) infinite;
}

@-webkit-keyframes attackWest {
   0% { background-position: -192px -32px; }
   100% { background-position: -320px -32px; }
}

@keyframes attackWest {
   0% { background-position: -192px -32px; }
   100% { background-position: -320px -32px; }
}

.attackEast{
  -webkit-animation: attackEast .9s steps(2) infinite;
  animation: attackEast .9s steps(2) infinite;
}

@-webkit-keyframes attackEast {
   0% { background-position: -192px -64px; }
   100% { background-position: -320px -64px; }
}

@keyframes attackEast {
   0% { background-position: -192px -64px; }
   100% { background-position: -320px -64px; }
}

.attackNorth{
  -webkit-animation: attackNorth .9s steps(2) infinite;
  animation: attackNorth .9s steps(2) infinite;
}

@-webkit-keyframes attackNorth {
   0% { background-position: -192px -96px; }
   100% { background-position: -320px -96px; }
}

@keyframes attackNorth {
   0% { background-position: -192px -96px; }
   100% { background-position: -320px -96px; }
}

.revealed {
  background-position: -32px 0;
}

.revealedSouth{
  -webkit-animation: revealedSouth .9s steps(2) infinite;
  animation: revealedSouth .9s steps(2) infinite;
}

@-webkit-keyframes revealedSouth {
   0% { background-position: 0 0; }
   100% { background-position: -128px 0; }
}

@keyframes revealedSouth {
   0% { background-position: 0 0; }
   100% { background-position: -128px 0; }
}

.revealedWest{
  -webkit-animation: revealedWest .9s steps(2) infinite;
  animation: revealedWest .9s steps(2) infinite;
}

@-webkit-keyframes revealedWest {
   0% { background-position: 0 -32px; }
   100% { background-position: -128px -32px; }
}

@keyframes revealedWest {
   0% { background-position: 0 -32px; }
   100% { background-position: -128px -32px; }
}

.revealedEast{
  -webkit-animation: revealedEast .9s steps(2) infinite;
  animation: revealedEast .9s steps(2) infinite;
}

@-webkit-keyframes revealedEast {
   0% { background-position: 0 -64px; }
   100% { background-position: -128px -64px; }
}

@keyframes revealedEast {
   0% { background-position: 0 -64px; }
   100% { background-position: -128px -64px; }
}

.revealedNorth{
  -webkit-animation: revealedNorth .9s steps(2) infinite;
  animation: revealedNorth .9s steps(2) infinite;
}

@-webkit-keyframes revealedNorth {
   0% { background-position: 0 -96px; }
   100% { background-position: -128px -96px; }
}

@keyframes revealedNorth {
   0% { background-position: 0 -96px; }
   100% { background-position: -128px -96px; }
}

.hidden {
  background-position: -128px -128px;
}

.hiddenSouth{
  -webkit-animation: hiddenSouth .9s steps(2) infinite;
  animation: hiddenSouth .9s steps(2) infinite;
}

@-webkit-keyframes hiddenSouth {
   0% { background-position: -96px -128px; }
   100% { background-position: -224px -128px; }
}

@keyframes hiddenSouth {
   0% { background-position: -96px -128px; }
   100% { background-position: -224px -128px; }
}

.hiddenWest{
  -webkit-animation: hiddenWest .9s steps(2) infinite;
  animation: hiddenWest .9s steps(2) infinite;
}

@-webkit-keyframes hiddenWest {
   0% { background-position: -96px -160px; }
   100% { background-position: -224px -160px; }
}

@keyframes hiddenWest {
   0% { background-position: -96px -160px; }
   100% { background-position: -224px -160px; }
}

.hiddenEast{
  -webkit-animation: hiddenEast .9s steps(2) infinite;
  animation: hiddenEast .9s steps(2) infinite;
}

@-webkit-keyframes hiddenEast {
   0% { background-position: -96px -192px; }
   100% { background-position: -224px -192px; }
}

@keyframes hiddenEast {
   0% { background-position: -96px -192px; }
   100% { background-position: -224px -192px; }
}

.hiddenNorth{
  -webkit-animation: hiddenNorth .9s steps(2) infinite;
  animation: hiddenNorth .9s steps(2) infinite;
}

@-webkit-keyframes hiddenNorth {
   0% { background-position: -96px -224px; }
   100% { background-position: -224px -224px; }
}

@keyframes hiddenNorth {
   0% { background-position: -96px -224px; }
   100% { background-position: -224px -224px; }
}
