.scoreboard {
  width:100%;
  height: 40px;
  background:white;
}

.scoreboard>div {
  float:left;
  padding-right: 30px;
  font-size: 2.5em;
}

.playArea {
  width: 1280px;
  height: 640px;
}

.killCount {
  color: green;
}

.deathCount {
  color: red;
}

.robot {
  position: absolute;
  width: 32px;
  height: 32px;
  background: url('/characterSprites.png');
  background-position: -128px 0;
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
}

.robotSouth{
  -webkit-animation: robotNorth .9s steps(2) infinite;
  animation: robotForward .9s steps(2) infinite;
}

@-webkit-keyframes robotNorth {
   0% { background-position: -96px 0; }
   100% { background-position: -160px 0; }
}

@keyframes robotNorth {
   0% { background-position: -96px 0; }
   100% { background-position: -160px 0; }
}

.robotWest{
  -webkit-animation: robotLeft .9s steps(2) infinite;
  animation: robotLeft .9s steps(2) infinite;
}

@-webkit-keyframes robotLeft {
   0% { background-position: -96px -32px; } 
   100% { background-position: -224px -32px; }
}

@keyframes robotLeft {
   0% { background-position: -96px -32px; } 
   100% { background-position: -224px -32px; }
}

.robotEast{
  -webkit-animation: robotRight .9s steps(2) infinite;
  animation: robotRight .9s steps(2) infinite;
}

@-webkit-keyframes robotRight {
   0% { background-position: -96px -64px; } 
   100% { background-position: -224px -64px; }
}

@keyframes robotRight {
   0% { background-position: -96px -64px; } 
   100% { background-position: -224px -64px; }
}

.robotNorth{
  -webkit-animation: robotSouth .9s steps(2) infinite;
  animation: robotSouth .9s steps(2) infinite;
}

@-webkit-keyframes robotSouth {
   0% { background-position: -96px -96px; } 
   100% { background-position: -224px -96px; }
}

@keyframes robotSouth {
   0% { background-position: -96px -96px; } 
   100% { background-position: -224px -96px; }
}

.player {
  position: absolute;
  width: 32px;
  height: 32px;
  background: url('/characterSprites.png');
  background-position: -224px -128px;
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
}

.playerSouth{
  -webkit-animation: robotForward .9s steps(2) infinite;
  animation: robotForward .9s steps(2) infinite;
}

@-webkit-keyframes robotForward {
   0% { background-position: -192px -128px; }
   100% { background-position: -256px -128px; }
}

@keyframes robotForward {
   0% { background-position: -192px -128px; }
   100% { background-position: -256px -128px; }
}
